h1 {
    font-size: 61px;
    font-weight: 700;
}

.add-task-header {
    padding-left: 104px;
    padding-top: 110px;
    padding-bottom: 75px;
}

.add-task-form {
    padding-left: 104px;
    height: 424px;
    display: flex;
    flex-direction: row;
    height: 424px;
    gap: 47px;
}

.add-task-form-left {
    width: 440px;
}

.add-task-form-seperator {
    height: 424px;
    width: 1px;
    background-color: #D1D1D1;
}

.add-task-form-right {
    width: 440px;
}

label {
    display: flex;
    font-size: 20px;
    color: #2A3647;
    padding-bottom: 8px;
}

textarea {
    margin-top: 8px;
    margin-bottom: 32px;
    padding-top: 12px;
}

textarea:focus {
    outline: 1px solid #26ace3;
}

input {
    margin-bottom: 32px;
}

input:focus {
    outline: 1px solid #26ace3;
}

select {
    margin-top: 8px;
    margin-bottom: 32px;
}

.prio-label {
    font-size: 20px;
    color: #2A3647;
}

.add-task-input-fields {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
}

.add-task-assigned-to-input-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    background-color: white;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-size: 20px;
}

.task-prio {
    display: flex;
    flex-direction: column;
}

.prio-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 26px;
    height: 56px;
}

.prio-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 136px;
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    font-size: 20px;

}

.prio-button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.35);
}

.prio-button p {
    margin: 0;
    color: #000;
}

.prio-button.selected p {
    color: #fff; 
}

.prio-button.selected img {
    filter: brightness(0) invert(1);
}

#urgentPrio.selected {
    background-color: #ff3e00;
}

#mediumPrio.selected {
    background-color: #FFA800;
}

#lowPrio.selected {
    background-color: #79E227;
}

.task-assignement-and-category {
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}

.users {
    width: 100%;
    height: 170px;
    overflow-y: auto;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.category {
    width: 100%;
    height: 96px;
    overflow-y: auto;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.task-due-date {
    position: relative;
    padding: 0;
}

.task-due-date img {
    position: absolute;
    top: 12px;
    right: 16px;
}

.task-subtask {
    position: relative;
}

.task-subtask input {
    margin-bottom: 8px;
}

.add-subtask-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 45px;
    right: 16px;
}

.subtask-buttons {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtask-buttons:hover {
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 50%;
}

.plus-icon {
    width: 14px;
    height: 14px;
}

.subtask-seperator {
    border: 1px solid rgba(209, 209, 209, 1);
    height: 30px;
}

.subtask-buttons-with-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.created-subtasks-container {
    height: 90px;
    overflow-y: auto;
}
  
.subtask-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 32px;
    gap: 4px;
    padding: 4px 16px 4px 16px;
}
  
.subtask-list::before {
    content: '\2022';
}
  
.subtask-list:hover {
    background-color: #eeeeee;
    border-radius: 10px;
}
  
.subtask-list input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
  
.edit-subtask-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 32px;
    gap: 4px;
    padding: 4px 16px 4px 16px;
    background-color: #ffffff;
    border-bottom: 1px solid #29abe2;
    border-radius: 0px;
}
  
.edit-subtask-list input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
  
.edit-images {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.edit-icons {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-icons:hover {
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 45px;
}

.edit-seperator {
    height: 24px;
    width: 1px;
    margin: 0px 4px;
    background-color: #d1d1d1;
}
  
.subtask-list:hover .edit-images {
    display: flex;
    gap: 4px;
}