@media (orientation: landscape) and (max-width: 1185px) {
    .board-add-task-modal {
        min-width: 100vw;
    }
}

@media (max-width: 1150px) {
    .board-add-task-modal {
        max-width: 1000px;
    }

    .edit-images {
        display: flex !important;
    }
}

@media (max-width: 1000px) {
    .board-add-task-overlay {
        background-color: rgba(0, 0, 0, 0);
    }

    .board-add-task-content {
        display: block;
        padding-bottom: 76px;
        width: 100vw;
        height: calc(100vh - 180px);
    }

    .board-add-task-modal {
        border-radius: 0px;
        height: calc(100vh - 170px);
        max-width: 1024px;
        padding: 0 16px;
    }

    .board-add-task-section-header {
        padding-top: 34px;
        padding-bottom: 34px;
    }

    .add-task-form {
        flex-direction: column;
        gap: 0px;
        max-height: 910px;
        overflow-y: auto;
        scrollbar-width: none;
        padding-left: 1px;
        padding-right: 1px;
    }

    .add-task-form-seperator {
        display: none;
    }

    .add-task-form-bottom {
        position: fixed;
        right: 16px;
        bottom: 12px;
        padding-left: 32px;
    }
}

@media (max-width: 900px) {
    .add-task-form {
        max-height: 752px;
    }

    .board-add-task-overlay {
        height: calc(100% - 160px);
        margin-top: 80px;
        z-index: 8;
    }
}

@media (max-width: 800px) {
    .add-task-form {
        max-height: calc(100vh - 381px);
        min-height: unset;
    }

    .add-task-form-bottom {
        position: fixed;
        bottom: 16px;
        left: 0;
        padding-right: 16px;
        padding-top: 12px;
        width: 100%;
        background-color: #F6F7F8;
        z-index: 7;
    }
}

@media (max-width: 480px) {
    .add-task-form-left {
        width: 100%;
        max-width: 396px;
    }

    .add-task-form-right {
        width: 100%;
        max-width: 396px;
    }

    .add-task-form p {
        font-size: 16px;
    }

    .add-task-input-headline {
        font-size: 16px;
    }

    label {
        font-size: 16px;
    }

    .add-task-input-fields {
        font-size: 16px;
    }

    .prio-button {
        width: 112px;
    }

    .info-line {
        display: none;
    }

    .info-line-mobile {
        display: flex;
    }

    .add-task-form-bottom {
        padding-top: 12px;
        background-color: white;
        justify-content: flex-end;
    }

    .add-subtask-buttons {
        top: 37px !important;
    }

    .padding-top-six {
        padding-top: 6px;
    }
}

@media (max-width: 431px) {
    .prio-button {
        font-size: 16px;
    }

    .add-task-assigned-to-input-field {
        font-size: 16px;
    }

    .contact-name {
        font-size: 16px !important;
    }
}

@media (max-width: 414px) {
    .board-add-task-overlay {
        z-index: 0;
    }

    /* .board-add-task-section-header {
        padding-top: 8px;
        padding-bottom: 16px;
    } */

    .add-task-input-fields {
        max-width: 390px;
        width: 100%;
    }

    .created-subtasks-container {
        scrollbar-width: none;
    }

    .clear-task-btn {
        width: 111px;
        height: 59px;
    }

    .create-task-btn {
        width: 181px;
        height: 59px;
    }
}

@media (max-width: 375px) {
    .clear-task-btn {
        font-size: 16px;
        justify-content: center;
        width: 96px;
        height: 50px;
    }

    .create-task-btn {
        font-size: 16px;
        justify-content: center;
        width: 157px;
        height: 50px;
    }

    .add-task-finish-buttons {
        align-items: center;
    }
}

@media (max-width: 350px) {
    .board-add-task-section-header h1 {
        font-size: 36px;
    }

    .add-task-close-btn {
        padding-top: 8px;
    }

    .add-task-input-fields {
        max-width: 280px;
    }

    .info-line-mobile {
        padding-top: 16px;
    }

    .prio-button {
        width: 90px;
    }
}