:root {
    --sidebar-width: 232px;
    --wrapper-contacts-width: 456px;
    --wrapper-contactCard-width: 562px;
    --infobox-offset: calc(100% - var(--sidebar-width) - var(--wrapper-contacts-width) - var(--wrapper-contactCard-width));
  }

#contactDetails{
    display: flex;
}

#sidebar{
    background-color: rgb(42, 54, 71);
    height: 100vh;
    width: 232px;
}

#wrapperContacts{
    width: 456px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(184, 183, 183);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#contactsOverview{
    margin-top: 20px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    scrollbar-width: thin;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

#btn_addNewContact{
    background-color: rgb(42, 54, 71);
    height: 52px;
    width: 352px;
    border-radius: 12px;
    border: 1px solid rgb(42, 54, 71);
    color: white;
    font-size: 24px;
    margin-top: 21px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#btn_addNewContact img{
    padding-left: 15px;
}

#btn_addNewContact:hover{
    box-shadow: 0 5px 5px rgb(184, 183, 183);
    background-color: #29abe2;
    border: 1px solid rgb(41, 171, 226);
    cursor: pointer;
    transition: all 0.3s ease;
}

#contactDetailsContainer{
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}

#contactCard{
    height: 364px;
    width: 500px;  /* breiter als in Figma weil...passt sonst nicht mit Schriftgröße */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 34px;
}

.infobox{
    position: fixed;
    top: 260px;
    height: 100%;
    right: -600px;
    width: 200px;
    transition: right 0.75s ease-in-out;
  }

.infobox.open{
    right: var(--infobox-offset);
  }


#contactCardHeader{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
}

#userInitials{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    background-color: blueviolet;
    font-size: 47px;
    border: 3px solid white;
    box-shadow: 0px 0px 4px grey;
}

#userName{
    font-size: 47px;
}

.action{
    color: rgb(42, 54, 71);
    display: flex;
}

#edit{
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;    
}

#edit:hover{
    filter: invert(77%) sepia(31%) saturate(6859%) hue-rotate(165deg) brightness(91%) contrast(95%);
    font-weight: 700;
}

#delete{
    display: flex;
    align-items: center;
    gap: 7px;
    margin-left: 25px;
    cursor: pointer;
}

#delete:hover{
    filter: invert(77%) sepia(31%) saturate(6859%) hue-rotate(165deg) brightness(91%) contrast(95%);
    font-weight: 700;
}

#userEdit{
    display: flex;
    color:rgb(60, 72, 87);
    font-weight: 600;
    padding-top: 5px;
}

#contactText{
    height: 70px;
    width: 100%;
    font-size: 20px;
}

#contactCardEmail{
    width: 100%;
    height: 70px;
}

#contactCardPhone{
    width: 100%;
    height: 70px;
}

#contactPhoneNr{
    margin-top: 7px;
}

#contactEmailAdr{
    margin-top: 7px;
}

#contactCardUserInfo p{
    font-weight: 700;
}

#contactDetailsHeader{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    margin-top: 102px;
}

#contactDetailsCard{
    height: 364px;
    width: 461px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

#cardTop{
    width: 100%;
    height: 120px;
    background-color: aqua;
}

#cardBottom{
    width: 100%;
    height: auto;
    background-color: aquamarine;
    flex-grow: 1; /* Nimmt den verbleibenden Platz ein */
}

.vl{
    border-left: 4px solid rgb(41, 171, 226);
    height: 60px;
}

#span_contacts{
    font-size: 60px;
    font-weight: 700;
    margin-right: 32px;
}

#span_better{
    font-size: 27px;
    margin-left: 32px;
}

#newContactForm{
    height: 590px;
    width: 1210px;
    background-color: rgb(227, 223, 223);
    border-radius: 12px;
}

.d-none{
    display: none !important;
}

.singleEntry{
    width: 352px;
    height: 78px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding-left: 2px;
}

.singleEntry:hover{
    background-color: rgb(246, 247, 248);
    cursor: pointer;
}

.userInitials{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    box-shadow: 0px 0px 4px hsla(240, 7%, 62%, 1);
}

#entryInfoName{
    font-size: 20px;
    font-weight: 400;
}

#entryInfoMail{
    font-size: 16px;
    font-weight: 400;
    color: rgb(28, 28, 254);
}

.letter-group {
    font-size: 24px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 8px;
    color: #333;
    margin-left: 12px;
  }