#contactDetails{
    display: flex;
}

#sidebar{
    background-color: rgb(42, 54, 71);
    height: 100vh;
    width: 232px;
}

#wrapperContacts{
    /* height: 100vh; */
    width: 456px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(184, 183, 183);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#contactsOverview{
    margin-top: 20px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    scrollbar-width: thin;
}

#btn_addNewContact{
    background-color: rgb(42, 54, 71);
    height: 52px;
    width: 352px;
    border-radius: 12px;
    border: 1px solid rgb(42, 54, 71);
    color: white;
    font-size: 24px;
    margin-top: 21px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#btn_addNewContact img{
    padding-left: 15px;
}

#btn_addNewContact:hover{
    box-shadow: 0 5px 5px rgb(184, 183, 183);
    background-color: rgb(41, 171, 226);
    border: 1px solid rgb(41, 171, 226);
    cursor: pointer;
    transition: all 0.3s ease;
}

#contactDetailsHeader{
    display: flex;
    flex-direction: row;
    padding-left:  64px;
    height: 232px;
    align-items: center;
}

.vl{
    border-left: 4px solid rgb(41, 171, 226);
    height: 60px;
}

#span_contacts{
    font-size: 60px;
    font-weight: 600;
    margin-right: 32px;
}

#span_better{
    font-size: 27px;
    margin-left: 32px;
}

#newContactForm{
    height: 590px;
    width: 1210px;
    background-color: rgb(227, 223, 223);
    border-radius: 12px;
}

.d-none{
    display: none;
}

.singleEntry{
    width: 352px;
    height: 78px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.singleEntry:hover{
    background-color: rgb(246, 247, 248);
    cursor: pointer;
}

.userInitials{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
}

#entryInfoName{
    font-size: 20px;
    font-weight: 400;
}

#entryInfoMail{
    font-size: 16px;
    font-weight: 400;
}