.task-detail-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1300;
}

.task-detail-content-limitation {
    display: flex;
    justify-content: center;
}

.task-detail-content {
    background: white;
    border-radius: 24px;
    padding: 48px 40px;
    padding-right: 16px;
    max-width: 530px;
    width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    animation: myAnim 1s ease 0s 1 normal forwards;
}

.task-detail-content.hidden {
    animation: myAnimOut 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateX(550px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myAnimOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(550px);
    }
}

.detail-task-card {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 20px;
    max-height: 77vh;
    padding-right: 16px;
    overflow-y: auto;
    position: relative;
}

.detail-task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-task-category {
    color: white;
    border-radius: 8px;
    padding: 4px 32px;
    font-size: 24px;
    font-weight: 300;
}

.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 45px;
    position: fixed;
    right: 32px;
    background-color: white;
}

.close-btn:hover {
    background-color: #efefef;
    cursor: pointer;
}

.task-detail-headline {
    font-size: 64px;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

.detail-task-description {
    font-size: 20px;
}

.detail-task-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 16px;
}

.detail-task-priority {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.detail-task-assignings {
    display: flex;
    flex-direction: column;
}

.detail-assigned-to-headline {
    padding-bottom: 16px;
}

.detail-task-assigned-user {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail-task-assigned-to {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-left: 22px;
}

.detail-task-user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #FFBB2B;
    border: 1px solid #FFFFFF;
    border-radius: 45px;
    color: white;
    font-size: 12px;
    position: relative;
    margin-left: -8px;
    z-index: 1;
}

.detail-task-subtasks-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.detail-task-subtasks-container {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    gap: 12px;
}

.detail-task-subtask-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 300;
    font-size: 18px;
}

.detail-task-subtask-item input {
    margin-right: 12px;
}

.subtask-checkbox {
    appearance: none;
    width: 18px;
    min-width: 18px;
    height: 18px;
    border: 2px solid #2A3647;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.subtask-checkbox:focus {
    outline: none !important;
}

.subtask-checkbox:checked {
    background-color: white;
}

.subtask-checkbox:checked::after {
    content: '✓';
    font-size: 18px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detail-delete-edit-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.detail-delete-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detail-delete-edit p {
    font-weight: 300;
    font-size: 18px;
    color: #2A3647;
}

.detail-delete-edit img {
    padding-right: 8px;
    height: 20px;
}

.detail-delete-edit:hover p,
.detail-delete-edit:hover img {
    color: #29abe2;
    filter: brightness(0) saturate(100%) invert(53%) sepia(72%) saturate(747%) hue-rotate(172deg) brightness(95%) contrast(89%);
    cursor: pointer;
    transform: scale(1.05);
    transition: .1s;
}

@media (max-width: 500px) {
    .detail-task-card {
        font-size: 16px;
        gap: 16px;
        padding-right: 8px;
    }

    .task-detail-content {
        padding: 32px 24px;
        padding-right: 12px;
        border-radius: 30px;
    }

    .detail-task-category {
        padding: 4px 16px;
        font-size: 16px;
        font-weight: 400;
    }

    .task-detail-headline {
        font-size: 32px;
    }

    .close-btn {
        right: 16px;
    }

    .detail-task-description {
        font-size: 16px;
    }

    .detail-task-user-icon {
        width: 42px;
        height: 42px;
    }

    .detail-task-subtask-item {
        color: black !important;
        font-size: 16px;
        font-weight: 400;
    }

    .detail-delete-edit img {
        height: 18px;
    }

    .width28 {
        width: 26px !important;
    }

    .detail-delete-edit p {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .detail-task-assigned-user {
        gap: 8px;
    }
}

@media (max-width: 350px) {
    .task-detail-content {
        padding: 24px 16px;
    }

    .detail-task-card {
        gap: 10px;
    }

    .detail-task-assigned-to {
        padding-left: 8px;
        gap: 12px;
    }

    .detail-task-subtasks-container {
        gap: 8px;
        padding-left: 8px;
    }

    .detail-task-subtask-item {
        gap: 0px;
    }
}