.edit-task-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 48px 40px;
    border-radius: 24px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.edit-task-header {
    display: flex;
    justify-content: flex-end;
}

.editor-title {
    font-weight: 400;
}

.assigned-users-container {
    padding-left: 8px;
}

.editor-task-assigned-to {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding-left: 4px;
}

.change-edit-task-btn-container {
    display: flex;
    justify-content: flex-end;
}

.change-edit-task-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 16px;
    gap: 4px;
    width: 100px;
}

.change-edit-task-btn:hover {
    background-color: #26ace3;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.35);
}
