.min-height {
    min-height: calc(100vh - 102px);
}

.content-add {
    padding: 40px 40px 0 40px;
    flex-direction: column;
}

.logo-animation {
    z-index: 1000;
    height: 334px;
    width: 274px;
    position: absolute;
    top: calc(345px - 280px);
    left: calc(583px - 446px);
    box-sizing: unset;
    padding: 178px 446px;
    background: #F6F7F8;
    animation: moveLogo 0.7s ease-in-out forwards;
}

@keyframes moveLogo {
    0% {
        top: calc(50vh - 167px - 280px);
        left: calc(1440px/2 - 137px - 446px);
        height: 334px;
        width: 274px;
        padding: 280px 446px;
    }
    100% {
        top: 40px;
        left: 40px;
        height: 121.97px;
        width: 100.03px;
        padding: 0;
    }
}

.registry-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    padding-bottom: 87px;
}

.user-question {
    font-size: 20px;
    font-weight: 400;
}

.btn-fontsize {
    font-size: 16px;
}

.form-position {
    min-height: calc(100vh - 262px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #FFFFFF;
    width: 598px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    border: unset;
    border-radius: 30px;
    padding: 48px 88px 48px 56px;
    box-shadow: 0 0 14px 0 rgba(248, 248, 249, 0.6);
}

.registration-form {
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
}

.return-btn {
    color: #26ace3;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0;
    margin-top: 24px;
}

.return-btn:hover {
    background-color: #F6F7F8;
    box-shadow: none;
}

.return-btn img {
    height: 32px;
    aspect-ratio: 1 / 1;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.form-headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-underline {
    border-bottom: solid 3px #26ace3;
    width: 150px;
    padding-bottom: 10px;
}

.form-input-fields {
    display: flex;
    flex-direction: column;
    width: 422px;
    gap: 16px;
}

.fields-variant {
    gap: 20px;
}

.input-field {
    position: relative;
    width: 100%;
}

.input-field input {
    width: 100%;
    padding-right: 30px;
    padding: 2px;
    border-radius: 8px;
    border: unset;
}

.input-field img {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.check-policy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.privacy-policy-link {
    color: #26ace3;
}

.privacy-policy-link:hover {
    text-decoration: underline;
}

.btn-variant {
    padding: 15px 24px;
    border-radius: 8px;
}

.centered-position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 40px;
}

.btn-without-formatting {
    background-color: #F6F7F8;
    color: #A8A8A8;
}

.btn-without-formatting:hover {
    color: #26ace3;
    font-weight: 700;
    box-shadow: none;
}

.grey-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgba(191, 191, 191, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: none;
}

.btn-success {
    padding: 25px;
    border-radius: 20px;
    font-weight: 400;
}

.registration-success {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: slideInFromBottom 0.4s ease-in-out forwards;
    position: relative;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes stayInCenter {
    0% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Musste Klasse hier noch einmal anlegen, weil sie von der standard.css nicht genommen wird. */
.d-none {
    display: none;
}

body.overlay-active {
    overflow: hidden;
}

.msg-box {
    color: #FF8190;
    height: 14px;
}

.red-border {
    border-color: #FF001F;
}

