body,
html {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.header-right {
  display: none;
}

.headline {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1000px) {
  #privacyPolicyText {
    margin-bottom: 90px;
  }
}