body,
html {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.header-right {
  display: none;
}

.headline {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #26ABE2;
}

.h1-legal {
  padding-bottom: 30px;
}

.h2-legal {
  font-weight: 700;
  font-size: 27px;
  line-height: 32.4px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 10px;
}

.h3-legal {
  font-weight: 700;
  font-size: 24px;
  line-height: 24.2px;
  color: #000000;
  padding-top: 30px;
}

.p-legal {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
}

@media (max-width: 1000px) {
  #privacyPolicyText {
    margin-bottom: 90px;
  }
}