body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  .content {
    display: flex;
    height: 100%;
  }
  
  #sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  #header {
    height: 96px;
    position: fixed;
    top: 0;
    left: 232px;
    right: 0;
    z-index: 1000;
  }
  
  main {
    margin-top: 96px;
    margin-left: 232px;
    height: calc(100% - 96px);
    overflow-y: auto;
    padding: 20px;
    /* box-sizing: border-box; */
  }