* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Inter';
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter.ttf') format('truetype');
}

.max-width-login-registry {
    max-width: 1440px;
    width: 100%;
}

.max-width {
    max-width: 1208px;
    width: 100%;
}

body {
    width: 100%;
    background-color: #F6F7F8;
}

.content {
    display: flex;
    flex-direction: row;
}

main {
    width: calc(100% - 232px);
    background-color: #F6F7F8;
}

header {
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    padding-left: 116px;
}

header p {
    font-size: 20px;
    font-weight: 400;
}

.header-right {
    position: relative; /* Parent-Element als Bezugspunkt für #userMenu */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}

img:hover {
    cursor: pointer;
}

.user-icon {
    width: 56px;
    height: 56px;
}

.user-icon:hover{
    cursor: pointer;
}

.d-none {
    display: none !important;
}

h1 {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    color: #000000;
}

h2 {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    color: #2A3647;
}

.section-head {
    padding-top: calc(206px - 96px);
    padding-right: 104px;
    padding-bottom: 75px;
    padding-left: calc(328px - 232px);
    display: flex;
    justify-content: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.btn {
    font-size: 21px;
    font-weight: 500;
    border-radius: 10px;
    border: unset;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px rgb(184, 183, 183);
}

.btn1 {
    background-color: #2A3647;
    color: #FFFFFF;
    padding: 8px 16px;
}

.btn1:hover {
    background-color: #26ace3;
    transition: .3s;
}

.btn2 {
    background-color: #FFFFFF;
    color: #2A3647;
    border-color: #2A3647;
    border: solid 0.8px #2A3647;
}

.btn2:hover {
    background-color: #FFFFFF;
    color: #26ace3;
    border-color: #26ace3;
}

.navyblue-font {
    color: #2A3647;
}

.rosa-font {
    color: #ff8190;
}

.width32 {
    width: 32px;
}

.width100 {
    width: 100px;
}

.rotate180 {
    transform: rotate(180deg);
}

.flex {
    display: flex !important;
}

.mr-10 {
    margin-right: 10px;
}

#btn_help:hover{
    transform: scale(1.1);
}

#userMenu{
    height: 158px;
    width: 150px;
    background-color: rgb(42, 54, 71);
    border-radius: 15% 0 15% 15%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-weight: 200;
    text-decoration: none;
    position: absolute; /* Position relativ zu .header-right */
    top: calc(100% + 20px);
    right: 0; /* Bleibt an der rechten Seite von .header-right */
    border: 1px solid rgb(246, 247, 248);
    z-index: 10;
}

#userMenu a{
    color: white;
}

#userMenu div:hover{
    background-color: rgb(42, 61, 89)
}

.helpLink{
    height: 40px;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}