* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Inter';
}

body {
    width: 100%;
    background-color: #F6F7F8;
}

.content-centering {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/inter.ttf') format('truetype');
}

@font-face {
    font-family: 'open-sans';
    src: url('../assets/fonts/OpenSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins.ttf') format('truetype');
}

.max-width {
    max-width: 1440px;
    width: 100%;
}

.max-width-calced {
    max-width: 1208px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: row;
}

main {
    background-color: #F6F7F8;
    width: 100%;
}

img {
    object-fit: cover;
}

img:hover {
    cursor: pointer;
}

.user-icon {
    width: 56px;
    height: 56px;
}

.user-icon:hover {
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.content-fixed {
    margin-left: 232px;
    margin-top: 100px;
    height: calc(100vh - 100px);
}

h1 {
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
    color: #000000;
}

h2 {
    font-size: 27px;
    font-weight: 400;
    line-height: 32.4px;
    color: #2A3647;
}

a {
    text-decoration: none;
}

.section-head {
    padding-top: calc(206px - 96px);
    padding-right: 96px;
    padding-bottom: 30px;
    padding-left: calc(328px - 232px);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 100%;
    z-index: 300;
    background-color: #F6F7F8;
}

.btn {
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    border-radius: 10px;
    border: unset;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.btn1 {
    background-color: #2A3647;
    color: #FFFFFF;
    padding: 8px 16px;
}

.btn1:hover {
    background-color: #26ace3;
    transition: .3s;
}

.btn2 {
    background-color: #FFFFFF;
    color: #2A3647;
    border-color: #2A3647;
    border: solid 1px #2A3647;
}

.btn2:hover {
    background-color: #FFFFFF;
    color: #26ace3;
    border-color: #26ace3;
}

.navyblue-font {
    color: #2A3647;
}

.rosa-font {
    color: #ff8190;
}

.max-width-calculated {
    max-width: 1208px;
}

.width32 {
    width: 32px;
}

.width28 {
    width: 28px;
}

.width100 {
    width: 100px;
}

.rotate180 {
    transform: rotate(180deg);
}

.flex {
    display: flex !important;
}

.mr-10 {
    margin-right: 10px;
}

.bg-white {
    background-color: white;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #969696;
}

@media (max-width: 1310px) {
    .section-head {
        padding-left: 24px;
    }
}

@media (max-width: 1065px) {
    .content-fixed {
        margin-top: 80px;
        margin-left: 0;
        height: calc(100vh - 160px);
    }

    .section-head {
        padding: 32px 16px;
        gap: 16px;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    .screen-layer {
        z-index: 6000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #F6F7F8;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .landscape-message {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 92%;
        height: 80vh;
        background-color: #FFFFFF;
        text-align: center;
        padding: 20px;
        border-radius: 16px;
        gap: 16px;
    }

    .mobile-phone-rotation {
        height: 40px;
    }

    .mobile-phone {
        height: 40px;
        animation: rotatingDevice 1.6s ease-out infinite;
        transform-origin: center;
    }

    @keyframes rotatingDevice {
        0% {
            transform: rotate(90deg);
        }

        80% {
            transform: rotate(180deg);
        }

        100% {
            transform: rotate(180deg);
        }
    }

    .device-portrait {
        font-size: 20px;
        line-height: 24.4px;
        font-weight: 400;
        text-align: center;
        color: #2A3647;
        padding: 16px;
    }
}

@media (max-width: 816px) {
    h1 {
        font-size: 47px;
        line-height: 56.4px;
    }

    h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .btn {
        font-size: 16px;
        line-height: 19.2px;
    }
}

@media (max-width: 480px) {
    ::-webkit-scrollbar {
        width: 4px;
    }
}