header {
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    padding-left: 348px;
}

header p {
    font-size: 20px;
    font-weight: 400;
}

.header-right {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.btn-help:hover {
    transform: scale(1.1);
}

.user-menu {
    height: 158px;
    width: 150px;
    background-color: rgb(42, 54, 71);
    border-radius: 20px 0 20px 20px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-weight: 200;
    text-decoration: none;
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    border: 1px solid rgb(246, 247, 248);
}

.user-menu-btn {
    width: 130px;
    border: unset;
    border-radius: 8px;
    background-color: #2A3647;
    padding: 8px;
    text-align: left;
}

.user-menu-btn:hover {
    cursor: pointer;
    background-color: rgb(42, 61, 89);
}

.menu-link {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #CDCDCD;
    width: 100%;
}

.user-initials-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 56px;
    aspect-ratio: 1 / 1;
    background-color: #FFFFFF;
    border: 3px solid #2A3647;
    border-radius: 50%;
    color: #29ABE2;
    font-size: 21px;
    font-weight: 600;
    padding: 10px;
}

.user-initials-header:hover {
    cursor: pointer;
    background-color: #F6F7F8;
}

.unlogged-icon {
    width: 56px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}