header {
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    padding-left: 348px;
}

.tool-headline {
    font-size: 20px;
    font-weight: 400;
}

.header-right {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.btn-help:hover {
    transform: scale(1.1);
}

.user-menu {
    height: 158px;
    width: 150px;
    background-color: rgb(42, 54, 71);
    border-radius: 20px 0 20px 20px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-weight: 200;
    text-decoration: none;
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    box-shadow: 0px 1px 4px 0px rgba(246, 247, 248);
}

.user-menu-btn {
    width: 130px;
    border: unset;
    border-radius: 8px;
    background-color: #2A3647;
    padding: 8px;
    text-align: left;
}

.user-menu-btn:hover {
    cursor: pointer;
    background-color: rgb(42, 61, 89);
}

.menu-link {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #CDCDCD;
    width: 100%;
}

.menu-closed {
    transform: translateX(132%);
    display: none;
}

.user-initials-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 56px;
    aspect-ratio: 1 / 1;
    background-color: #FFFFFF;
    border: 3px solid #2A3647;
    border-radius: 50%;
    color: #29ABE2;
    font-size: 21px;
    font-weight: 600;
    padding: 10px;
}

.user-initials-header:hover {
    cursor: pointer;
    background-color: #F6F7F8;
}

.unlogged-icon {
    width: 56px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.help-info {
    display: none;
}

.header-logo {
    height: 39.02px;
    width: 32px;
    display: none;
}

@media (max-width: 864px) {
    .tool-headline {
        display: none;
    }

    .header-content {
        justify-content: flex-end;
        padding: 20px 28px 20px 348px;
    }
}

@media (max-width: 480px) {
    .header-content {
        justify-content: space-between;
        padding: 20px 16px;
    }

    .header-logo {
        display: flex;
    }

    .user-menu {
        transition: transform 100ms ease-in-out;
    }


    /* Das Ein- und Ausfliegen des Menues für mobile funktioniert noch nicht. Irgendwo gehört "overflow-x: hidden" hin. */
    .menu-closed {
        display: flex;
    }

    .btn-help {
        display: none;
    }

    .help-info {
        display: flex;
    }
}