@media (max-width: 1310px) {
    #summary-head {
        padding: 56px 24px 16px 24px;
    }

    .summary {
        padding-left: 24px;
        padding-right: 24px;
        gap: 24px;
    }

    .summary-rows {
        width: 520px;
    }

    .summary-btn {
        height: 144px;
    }

    .welcome-user {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (max-width: 1240px) {
    #summary-head {
        padding: 32px 16px;
    }

    .summary {
        flex-direction: column-reverse;
    }

    .welcome-user {
        padding-bottom: 24px;
        max-width: 1240px;
        width: 100%;
        padding: 0 0 24px 0;
    }

    .welcome {
        justify-content: flex-start;
    }

    .greeting-text {
        width: 100%;
    }
}

@media (max-width: 1065px) {
    .separator {
        display: none;
    }

    .separator-variant {
        display: flex;
        margin: 0 32px;
        height: 88px;
    }

    #summary-head {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .h1-underline {
        display: flex;
    }

    .summary {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .tab-min-height {
        min-height: calc(100vh - 96px - 76px);
    }

    .summary-content {
        padding-bottom: 96px;
    }

    .welcome-user {
        justify-content: center;
        padding: 112px 16px;
    }

    .welcome {
        text-align: center;
    }
}

@media (max-width: 816px) {
    .h1-underline-summary {
        width: 90px !important;
        padding-bottom: 6px !important;
    }

    .summary-rows {
        width: 396px;
        gap: 24px;
    }

    .summary-row1 {
        width: calc(50% - 24px/2);
    }

    .square-btn {
        width: calc(33.333% - 48px/3);
    }

    .summary-btn {
        border-radius: 20px;
        gap: 10px;
        height: 110px;
    }

    .status-img {
        height: 40px;
    }

    .task-count {
        font-size: 47px;
        line-height: 56.4px;
    }

    .status {
        font-size: 14px;
        line-height: 16.8px;
    }

    .status-urgent-img {
        height: 40px;
    }

    .status-urgent {
        font-size: 14px;
        line-height: 16.8px;
    }

    .urgent-deadline {
        gap: 8px;
    }

    .h1-variant-deadline {
        font-size: 16px;
        line-height: 19.2px;
    }

    .separator-variant {
        margin: 0 20px;
        height: 68px;
    }

    .status-width {
        max-width: 64px;
    }

    .status-in-progress {
        font-family: 'Inter';
    }

    .greeting-text {
        font-weight: 400;
        font-size: 36px;
        line-height: 43.2px;
    }

    .user-name {
        font-size: 47px;
        line-height: 56.4px;
    }
}

@media (max-width: 544px) {
    #summary-head {
        padding-top: 24px;
        padding-bottom: 24px;
        gap: 4px;
    }

    .welcome-user {
        justify-content: center;
        padding: 80px 16px;
    }
}

@media (max-width: 416px) {
    #summary-head {
        gap: 0;
    }

    .summary-content {
        gap: 12px;
        padding-bottom: 92px;
    }

    .separator-variant {
        margin: 0;
    }

    .summary-rows {
        width: 288px;
        gap: 12px;
    }

    .summary-row1 {
        width: calc(50% - 12px/2);
    }

    .square-btn {
        width: calc(33.333% - 24px/3);
    }

    .summary-btn:hover {
        transform: scale(1.04);
    }

    .greeting-text {
        font-size: 32px;
        line-height: 39.2px;
    }

    .user-name {
        font-size: 40px;
        line-height: 48px;
    }
}