<header>
    <nav class="header-content max-width">
        <img class="header-logo" src="assets/img/join_logo_login.png" alt="Logo">
        <p class="tool-headline">Kanban Project Management Tool</p>
        <div class="header-right" id="submenu">
            <a class="btn-help" href="help.html"><img src="./assets/img/help_icon.png" alt="Help"></a>
            <div onclick="toggleUserMenu()">
                <img class="unlogged-icon" id="unloggedIcon" src="assets/img/default_user_icon.png" alt="not logged in">
                <p class="user-initials-header d-none" id="userInitialsHeader"></p>
                <p class="user-initials-header d-none" id="guestInitialHeader"></p>
            </div>
            <nav class="user-menu menu-closed" id="userMenu">
                <a class="menu-link" href="help.html">
                    <button class="user-menu-btn help-info">Help</button>
                </a>
                <a class="menu-link" href="legal-notice.html">
                    <button class="user-menu-btn">Legal Notice</button>
                </a>
                <a class="menu-link" href="privacy-policy.html">
                    <button class="user-menu-btn">Privacy Policy</button>
                </a>
                <a class="menu-link" href="index.html">
                    <button class="user-menu-btn" onclick="logout()">Logout</button>
                </a>
            </nav>
        </div>
    </nav>
</header>