<header>
    <nav class="header-content max-width">
        <p>Kanban Project Management Tool</p>
        <div class="header-right">
            <a class="btn-help" href="help.html"><img src="./assets/img/help_icon.png" alt="Help"></a>
            <div>
                <div onclick="toggleUserMenu()" >
                    <img class="guest-icon" id="guestIcon" src="assets/img/default_user_icon.png" alt="not logged in">
                    <p class="user-initials-header d-none" id="userInitialsHeader"></p>
                </div>
                <nav class="d-none user-menu" id="userMenu">
                    <a class="help-link" href="legal_notice_internal.html">Legal Notice</a>
                    <a class="help-link" href="privacy_policy_internal.html">Privacy Policy</a>
                    <button class="logout-btn help-link" onclick="logout()">Logout</button>
                </nav>
            </div>
        </div>
    </nav>
</header>