<div class="side-menu-content">

    <div class="side-menu-top">
        <img class="join-logo-menu" src="./assets/img/join_logo_menu.png" alt="Join Logo">

        <div class="menu-components" id="mainTabs">
            <button class="menu-component active" id="summary" onclick="switchTab('summary')">
                <img class="menu-icon" src="./assets/img/summary-icon.svg" alt="Summary Icon">
                <p>Summary</p>
            </button>
            <button class="menu-component" id="addTask" onclick="switchTab('addTask')">
                <img class="menu-icon" src="./assets/img/add-task-icon.svg" alt="Add Task Icon">
                <p>Add Task</p>
            </button>
            <button class="menu-component" id="board" onclick="switchTab('board')">
                <img class="menu-icon" src="./assets/img/board-icon.svg" alt="Board Icon">
                <p>Board</p>
            </button>
            <button class="menu-component" id="contacts" onclick="switchTab('contacts')">
                <img class="menu-icon" src="./assets/img/contacts-icon.svg" alt="Contacts Icon">
                <p>Contacts</p>
            </button>
        </div>
        <div class="menu-components d-none" id="loginReference">
            <button class="menu-component" id="index" onclick="switchTab('index')">
                <img class="menu-icon" src="./assets/img/login.png" alt="Login Icon">
                <p>Log In</p>
            </button>
        </div>

    </div>

    <div class="imprint-content" id="imprintContent">
        <div class="imprint-links">
            <button class="menu-component imprint-link-component" id="privacy-policy"
                onclick="switchTab('privacy-policy')">
                <p class="imprint-link">Privacy Policy</p>
            </button>
            <button class="menu-component imprint-link-component" id="legal-notice" onclick="switchTab('legal-notice')">
                <p class="imprint-link">Legal Notice</p>
            </button>
        </div>
    </div>

</div>