<div class="side-menu-content">  

    <div class="side-menu-top">
        <img class="join-logo-menu" src="./assets/img/join_logo_menu.png" alt="Join Logo">

        <div class="menu-components">
            <a href="#">
                <div class="menu-component">
                    <img class="menu-icon" src="./assets/img/summary_icon.png" alt="Summary Icon">
                    <p>Summary</p>
                </div>
            </a>
            <a href="#">
                <div class="menu-component">
                    <img class="menu-icon" src="./assets/img/add_task_icon.png" alt="Add Task Icon">
                    <p>Add Task</p>
                </div>
            </a>
            <a href="#">
                <div class="menu-component">
                    <img class="menu-icon" src="./assets/img/board_icon.png" alt="Board Icon">
                    <p>Board</p>
                </div>
            </a>
            <a href="#">
                <div class="menu-component">
                    <img class="menu-icon" src="./assets/img/contacts_icon.png" alt="Contacts Icon">
                    <p>Contacts</p>
                </div>
            </a>
        </div>
    </div>

    <div class="imprint-content">
        <div class="imprint-links">
            <a href="#">
                <p class="imprint-link">Privacy Policy</p>
            </a>
            <a href="#">
                <p class="imprint-link">Legal Notice</p>
            </a>
        </div>
    </div>

</div>